<!DOCTYPE html>
<html>
<head>
    <title>@Model.title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
</head>
<body>
    <div class="container">
        @RenderBody()
        @Include("well")

        @if (IsSectionDefined("Well"))
        {
            <section>
                @RenderSection("Well")
            </section>
        }
    </div>
    

</body>
</html>