<!DOCTYPE html>
<html>
<head>
    <title>@Model.title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
</head>
<body>
    @RenderBody()
</body>
</html>