<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="dotless" version="1.4.1.0" targetFramework="net45" />
  <package id="ilmerge" version="2.14.1203" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="MSBuild.ILMerge.Task" version="1.0.2" targetFramework="net45" />
  <package id="nQuant" version="1.0.3" targetFramework="net45" />
  <package id="RazorEngine" version="3.4.2" targetFramework="net45" />
  <package id="YamlDotNet" version="3.3.1" targetFramework="net45" />
</packages>