<footer id="footer" role="contentinfo">
    <section class="section swatch-black-white has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div id="text-4" class="sidebar-widget widget_text">
                        <div class="textwidget">Copyright &copy; <a href="http://www.spike-engine.com">Misakai Ltd</a>. 2014 All rights reserved. Source code is released under Apache v2 license.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42808609-1', 'auto');
  ga('send', 'pageview');

</script>