<header id="masthead" class="navbar navbar-sticky swatch-@Model.swatch" role="banner"> 
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/img/logo.png" width="50px" alt="By developers, for developers">Misakai Baker
            </a>
        </div>

    </div>
</header>